[submodule "benchmark/gflownet"]
	path = benchmark/gflownet
	url = https://github.com/alexhernandezgarcia/gflownet.git
[submodule "benchmark/gfnx"]
	path = benchmark/gfnx
	url = https://github.com/d-tiapkin/gfnx.git
