name: CI

on:
  push:
    branches: [master]
  pull_request:

jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.10', '3.11']

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[all]  # Install all dependencies, including dev

      - name: Print PyTorch Version (Temporary)
        run: python -c "import torch; print(torch.__version__)"

      - name: Run pre-commit
        run: pre-commit run --all-files

      - name: Test with pytest (coverage, py3.10 only)
        if: matrix.python-version == '3.10'
        run: pytest --cov=src/gfn --cov-report=xml --cov-report=term-missing --junitxml=junit.xml -o junit_family=legacy -x

      - name: Test with pytest (no coverage)
        if: matrix.python-version != '3.10'
        run: pytest -x

      - name: Upload coverage to Codecov
        if: matrix.python-version == '3.10'
        uses: codecov/codecov-action@v5
        with:
          files: coverage.xml
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}